@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.message-gradient {
    background-image: linear-gradient(to top, #12c2e9, #c471ed, #f64f59);
    background-attachment: fixed;
    color: white;
}